<div class="d-flex">
    <div id="sidebar-container" class="bg-primary">
      <div class="logo">
        <h1 class="text-light">PANEL DE CONTROL</h1>
      </div>
  
      <div class="menu">
        <a class="d-block text-light p-3" routerLink="/admin/users"><i class="fa-solid fa-users"></i> USUARIOS</a>
        <a  class="d-block text-light p-3" routerLink="/admin/enlaces"><i class="fa-solid fa-link"></i> ENLACES</a>
        <a class="d-block  text-light p-3" routerLink="/admin/contact"><i class="fa-solid fa-address-book"></i> CONTACTOS</a>
        <a class="d-block  text-light p-3" (click)="closesecion()" routerLink="#"><i class="fa-solid fa-right-from-bracket"></i> SALIR </a>
    <!-- <a class="d-block  text-light p-3" (click)="closesecion()" routerLink="#"><i class="fa-solid fa-right-from-bracket"></i> CERRAR SECIÓN</a> -->
      
      </div>
    </div>
  
    <div class="w-100">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      
       <div class="container-fluid">
      
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <form class="d-flex" [formGroup]="search" (submit)="getUsers()">
            <input formControlName="busqueda" class="form-control me-2" type="search" placeholder="Search"
              aria-label="Search">
            <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
          </form>
           
            
          </div>
      </nav>
    
     
      <table class="table">
        <thead>
          <tr>
                
            <th scope="col">imagen</th>
           <th scope="col"> id</th>
            <th scope="col"> nombres </th>
            <th scope="col"> apellidos </th>
            <th scope="col"> correo </th>
            <!-- <th scope="col"> contraseña </th> -->
            <th scope="col">rol</th>
  
<th><button class="btn btn-dark btn-sm" routerLink="/admin/create-user">NUEVO</button>
  
            </th>
  
          </tr>
        </thead>
        <tbody >
          <tr  *ngFor=" let users of listUsers">
            
            <td scope="row"><img src= "{{users.img}}"></td>
            <td scope="col">{{users.id}}</td>
            <td scope="row">{{users.name}}</td>
            <td scope="row">{{users.lastname}}</td>
            <td scope="row">{{users.email}}</td>
            <td scope="row">{{users.role}}</td>
          
            
            <td>
              <div class="options">
                <i (click)="deleteContact(users.id)" class="fa-solid fa-trash"></i>
                <br>
                <i [routerLink]="['/admin/update-user/',(users.id)]" class="fa-solid fa-file-pen"></i>
  
                <!-- <li >
                  <ul></ul>
                </li> -->
              </div>
             
            </td>
  
          </tr>
  
        </tbody>
  
      </table>
    </div>
  
  </div>