<br>
  <div class="center">
  <div class="card text-white bg-secondary mb-3" *ngFor="let contact of listContact" style="width: 15rem;">
    <img class="card-img-top" src="{{contact.img}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{contact.name}} {{contact.lastname}}</h5>
      <p class="card-text">{{contact.proyecto}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{contact.area}} {{contact.cargo}}</li>
      <li class="list-group-item">{{contact.number}}</li>
      <li class="list-group-item">{{contact.email}}</li>
      <button (click)="vcard(contact.id)" class="btn btn-dark" type="button">download contact</button>

    </ul>
    <div class="card-body">
    <div class="container">
  
      <a href="https://wa.me/57{{contact.number}}?text=hola%20{{contact.name}}%20{{contact.lastname}}" class="card-link"><i class="fa-brands fa-whatsapp"></i></a>
      <a href="mailto:{{contact.email}}" class="card-link"><i class="fa-solid fa-envelope-circle-check"></i></a>
    </div>
    </div>
  </div>
  </div>