 <div class="login">
    <div class="form">
      <form [formGroup]="loginForm"  (submit)="autentication()" class="login-form">
        <span class="material-icons">login</span>
        
        <div class="container mb-3">

          <input type="email" formControlName="email" placeholder="alguien@example.com ">
          <div *ngIf="email?.dirty &&(email?.dirty || email?.touched)">
          <div class="text-danger"*ngIf="loginForm.get('email')?.hasError('required')">
          <span>el correo es <strong>obligatorio</strong></span>
          </div>
          <div class="text-danger"
          *ngIf="loginForm.get('email')?.hasError('email')">
          <span>debe propocionar un correo <strong>válido</strong></span>
          </div>
       </div>
      </div>


      <div class="container mb-3">

        <input formControlName="password" type="password" placeholder="password" required />
        <div *ngIf="password?.dirty &&(password?.dirty || password?.touched)">
        <div class="text-danger"*ngIf="loginForm.get('password')?.hasError('password')">
        <span>la conntraseña es un campo <strong>obligatorio</strong></span>
        </div>
       
     </div>
    </div>
       
        <button>login</button> 
       
      </form>  
      <br>
      <button mat-menu-item (click)="loginPopup()">Login using Popup</button>
    </div>
  </div>



